--- --- // Dark mode overrides
$text-color: #e8e8e8;
$background-color: #121212;
$brand-color: #61afef;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Table overrides for dark mode
$table-text-color: $text-color;
$table-zebra-color: #1a1a1a;
$table-header-bg: #222;
$table-header-border: #333;
$table-border-color: #333;

@import "minima";